.Footer{
    width: 100%;
    height: auto;
  
}

.Display{
   
    position:sticky; 
    bottom:0;
 
    
  }

  .DoppelSideBarRightpict{
  
    width: 50vh;
    height: 100vh;
   
    
}

.DoppelSideBarRight{
    
    
    width: 100%;
    
   position:sticky;
   top:0;
}

.DoppelSideBarRight1Lay{
    position: absolute;
    right: 0;
    height: 3053vh;
  
}


.DoppelSideBarLeftpict{
  
    width: 50vh;
    height: 100vh;
   
    
}

.DoppelSideBarLeft{
    
    
    width: 100%;
    height: auto;
   position:sticky;
   top:0;
}

.DoppelSideBarLeft1Lay{
    position: absolute;
    left: 0;
    height: 3053vh;
    
}



.Halfpage1Lay{
    position: absolute;
    right: 0;
    height: 21709px;
}

.Halfpage{

    width: 100%;
    height: auto;
   position:sticky;
   top:40px;
}

.Halfpict{
    width: 100%;
    height: auto;
}


.SuperbannerDisplay{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;



}

.RectangleDisplay{
   position: absolute;
   height: 80px;
}

.RectanglePict{
    width: 100%;
    height: inherit;
}




@media  (max-width: 480px) {
    .Skypict{
  
        width: 30%;
        height: auto;
        
    }
    
    .Skyscraper{
        
      
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
       justify-content: center;
    }
    
    .Skyscraper1Lay{
       
        position: relative;
        height: auto;
        width: 100%;
       
        
    }

    .Medium1Lay{
        position: relative;
        height: auto;
        width: 100%;
    }

    .Medium{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    
    
    .Mediumpict{
        width: 300px;
        height: 250px;
    }

    .RectangleDisplay{
        display: none;
     }

     .SuperbannerDisplay{
       display: none;
       
       
       
       }
  }