.LinkColor{
    color: black;
}
.HeadColor{
    color:#ee7f00;
}

.More{
    color: #ee7f00;

    margin-left: 4%;
    
}

.Author{
    color:#b1b1b0;
}
.BodySize{
    min-height: 480px;
   
    
}


